.card {
  border: 2px solid teal;
  border-radius: 5px;
  padding: 7px 12px;
  margin-bottom: 15px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card h3 {
  margin: 5px;
}

.card-box {
  width: 50%;
}

.address-block h4 {
  margin: 5px;
}

.company-title {
  margin-bottom: 5px;
}

@media (max-width: 650px) {
  .card-info {
    flex-direction: column;
  }
  .card-box {
    width: 100%;
    text-align: center;
  }
}
