.container {
  max-width: 1070px;
  padding: 0 15px;
  margin: auto;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.form-block {
  padding: 0 15px;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.empty-title {
  margin: 50px auto 0;
  text-align: center;
}

#select {
  padding: 5px;
  border-radius: 7px;
  margin-left: 5px;
}

#select option {
  border-radius: 7px;
  padding: 10px;
}

.select-block {
  width: 40%
}

#search {
  width: 80%;
  margin-right: 10px;
  padding: 5px 7px;
  border: 2px solid teal;
}

.select-block {
  width: 30%;
}

.input {
  text-align: right;
  width: 70%;
}

.btn {
  padding: 5px 7px;
  border: 2px solid teal;
  background-color: #fff;
}

.btn:hover {
  background-color: #f5f5dc;
  cursor: pointer;
}

@media (max-width: 720px) {
  .search-form {
    flex-direction: column;
  }
  .input {
    width: 100%;
    text-align: center;
  }
  .select-block {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .header h1 {
    font-size: 24px;
    text-align: center;
  }
  .btn {
    display: none;
  }
}
